/* Estilos gerais */
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #f0f0f0; /* Cor de fundo geral */
}

/* Estilos do cabeçalho */
header {
    background-color: #4caf50; /* Cor de fundo verde */
    color: white;
    text-align: center;
    padding: 20px 0;
}

header h1 {
    margin: 0;
}

/* Estilos da seção principal */
section {
    background-color: white; /* Cor de fundo branco */
    padding: 20px;
    margin: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Sombra suave */
    text-align: center; /* Centraliza o conteúdo */
}

#doisPontos {
    font-weight: bold; /* Deixa os dois pontos em negrito */
}

/* Estilos dos campos de entrada */
input[type="text"] {
    width: 75px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 5px; /* Adiciona um pequeno espaço entre os campos */
    text-align: center;
}

/* Centraliza o conteúdo das células da tabela */
table {
    margin: 0 auto; /* Centraliza a tabela na página */
}

table td {
    text-align: center;
}

/* Estilos dos botões */
input[type="button"] {
    padding: 10px 20px;
    background-color: #4caf50; /* Cor de fundo verde */
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin: 10px; /* Adiciona um pequeno espaço entre os botões */
    text-align: center;
}

input[type="button"]:hover {
    padding: 10px 20px;
    background-color: #4caf50; /* Cor de fundo verde */
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin: 10px; /* Adiciona um pequeno espaço entre os botões */
    text-align: center;
}

#novoCalculo {
    text-align: center;
}

/* Estilos do rodapé */
footer {
    text-align: center;
    padding: 20px 0;
}
